# Ignore node_modules in all locations
**/node_modules/

# Ignore environment variables
.env
.env.local

# Ignore logs
logs
*.log
npm-debug.log*

# Ignore OS-specific files
.DS_Store
Thumbs.db

# Ignore build files
Frontend/build/
Backend/dist/
